<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ab molestiae harum aut odit nam et dicta. Sint porro incidunt, ullam doloremque eligendi dolorem dolore minima cumque sequi voluptates numquam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ab molestiae harum aut odit nam et dicta. Sint porro incidunt, ullam doloremque eligendi dolorem dolore minima cumque sequi voluptates numquam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ab molestiae harum aut odit nam et dicta. Sint porro incidunt, ullam doloremque eligendi dolorem dolore minima cumque sequi voluptates numquam?</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>